﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/guicss")
    @Scripts.Render("~/bundles/guilibs")
    @Styles.Render("~/bundles/extrascss")
    @Scripts.Render("~/bundles/extras")
    @Scripts.Render("~/bundles/libs")
    @Scripts.Render("~/bundles/usercontrols")
    @Scripts.Render("~/bundles/code")
	@Externals()
    @RenderSection("scripts", required: false)
</head>
<body>
    <header>
        <div class="content-wrapper">
            Header
        </div>
    </header>
    <div id="body">
        @RenderBody()
    </div>
    <footer>
        <div class="content-wrapper">
            Footer
        </div>
    </footer>

</body>
</html>
@helper  Externals()
{
	foreach (var external in WebSite.ExternalConfig.ExternalLinks)
	{
		<script src="@external"></script>
	}
}