<link rel="stylesheet" href="../DesignerSupport/kendo.common.min.css" />
<link rel="stylesheet" href="../DesignerSupport/kendo.default.min.css" />
<link rel="stylesheet" href="../DesignerSupport/kendo.designersupport.css" />
<link rel="stylesheet" href="SimpleWinForm.frmCalculators.css" />
<designersupport/>
<div>
  <div data-width="735" data-height="800" name="frmCalculators" data-title="Form1" class="SimpleWinForm_frmCalculators" id="#= UniqueID #">
    <form class="frmCalculators">
      <div id="userControl31" data-role="controlcalc_usercontrol3" class=" userControl31" data-bind="value : userControl31"></div>
      <div id="userControl21" data-role="controlcalc_usercontrol2" class=" userControl21" data-bind="value : userControl21"></div>
      <div id="userControl11" data-role="controlcalc_usercontrol1" class=" userControl11" data-bind="value : userControl11"></div>
    </form>
  </div>
</div>
