.SimpleWinForm_frmCalculators {
}
.SimpleWinForm_frmCalculators .frmCalculators {
	min-width: 735px;
	min-height: 365px;
	position: absolute;
	overflow: hidden;
}
.SimpleWinForm_frmCalculators .userControl31 {
	background-color: White;
	left: 487px;
	top: 13px;
	position: absolute;
	width: 238px;
	height: 344px;
	overflow: hidden;
}
.SimpleWinForm_frmCalculators .userControl21 {
	background-color: White;
	left: 246px;
	top: 14px;
	position: absolute;
	width: 236px;
	height: 312px;
	overflow: hidden;
}
.SimpleWinForm_frmCalculators .userControl11 {
	background-color: Gray;
	left: 7px;
	top: 17px;
	position: absolute;
	width: 233px;
	height: 238px;
	overflow: hidden;
}

