ul[data-role='menu'] {
-webkit-appearance: none;
-webkit-box-shadow: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
background-color: rgb(227, 227, 227);
background-image: none, linear-gradient(rgb(246, 246, 246) 0px, rgb(234, 234, 234) 100%);
background-position: 0px 50%, 0px 50%;
background-repeat: repeat, repeat;
border-bottom-color: rgb(197, 197, 197);
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(197, 197, 197);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(197, 197, 197);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(197, 197, 197);
border-top-style: solid;
border-top-width: 1px;
box-shadow: none;
color: rgb(46, 46, 46);
cursor: default;
display: block;
font-family: sans-serif, 'Segoe UI', Verdana, Helvetica, sans-serif;
font-size: 11px;
height: 25.0625px;
line-height: normal;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
outline-color: rgb(46, 46, 46);
outline-style: none;
outline-width: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-decoration: none solid rgb(46, 46, 46);
width: 701px;
z-index: auto;
zoom: 1;
}

 ul[data-role='menu']  li {
  border-bottom-color: rgb(197, 197, 197);
border-bottom-style: solid;
border-bottom-width: 0px;
border-left-color: rgb(197, 197, 197);
border-left-style: solid;
border-left-width: 0px;
border-right-color: rgb(197, 197, 197);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(197, 197, 197);
border-top-style: solid;
border-top-width: 0px;
box-sizing: content-box;
color: rgb(46, 46, 46);
cursor: default;
display: list-item;
float: left;
font-family: sans-serif, 'Segoe UI', Verdana, Helvetica, sans-serif;
font-size: 11px;
height: 25.0625px;
line-height: normal;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
position: relative;
text-align: left;
vertical-align: top;
width: 102.15625px;
z-index: auto;
zoom: 1;   
 }   

 ul[data-role='menu']  li li {
     display: none;
 }
  ul[data-role='menu']  li li li{
     display: none;
 }
