﻿@using Newtonsoft.Json
@using UpgradeHelpers.WebMap.Server
@{
    ViewBag.Title = "Home Page";
    var st = new HtmlString(IocContainerImplWithUnity.Current.GenerateCurrentStateAsJSON());                
                    
}
@section scripts
{
    <script>
        $(document).ready(function() {
            var state =  @st;
            WebMap.Client.App.Init();
            var app = WebMap.Client.App.Current;
            app.Init(state.M,state.V);
            window.app = app;
        });

    </script>
}
<div id="mainContent"></div>